<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cips.dao.MenuMapper" >
  <resultMap id="BaseResultMap" type="com.cips.model.Menu" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="pid" property="pid" jdbcType="VARCHAR" />
    <result column="menu_name" property="menuName" jdbcType="VARCHAR" />
    <result column="menu_path" property="menuPath" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="menu_type" property="menuType" jdbcType="INTEGER" />
    <result column="created_id" property="createdId" jdbcType="CHAR" />
    <result column="created_date" property="createdDate" jdbcType="TIMESTAMP" />
    <result column="modified_id" property="modifiedId" jdbcType="CHAR" />
    <result column="modified_date" property="modifiedDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, pid, menu_name, menu_path, level, status, menu_type, created_id, created_date, 
    modified_id, modified_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tb_menu
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tb_menu
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.cips.model.Menu" >
    insert into tb_menu (id, pid, menu_name, 
      menu_path, level, status, 
      menu_type, created_id, created_date, 
      modified_id, modified_date)
    values (#{id,jdbcType=CHAR}, #{pid,jdbcType=VARCHAR}, #{menuName,jdbcType=VARCHAR}, 
      #{menuPath,jdbcType=VARCHAR}, #{level,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, 
      #{menuType,jdbcType=INTEGER}, #{createdId,jdbcType=CHAR}, #{createdDate,jdbcType=TIMESTAMP}, 
      #{modifiedId,jdbcType=CHAR}, #{modifiedDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.cips.model.Menu" >
    insert into tb_menu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="pid != null" >
        pid,
      </if>
      <if test="menuName != null" >
        menu_name,
      </if>
      <if test="menuPath != null" >
        menu_path,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="menuType != null" >
        menu_type,
      </if>
      <if test="createdId != null" >
        created_id,
      </if>
      <if test="createdDate != null" >
        created_date,
      </if>
      <if test="modifiedId != null" >
        modified_id,
      </if>
      <if test="modifiedDate != null" >
        modified_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=VARCHAR},
      </if>
      <if test="menuName != null" >
        #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="menuPath != null" >
        #{menuPath,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        #{level,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="menuType != null" >
        #{menuType,jdbcType=INTEGER},
      </if>
      <if test="createdId != null" >
        #{createdId,jdbcType=CHAR},
      </if>
      <if test="createdDate != null" >
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedId != null" >
        #{modifiedId,jdbcType=CHAR},
      </if>
      <if test="modifiedDate != null" >
        #{modifiedDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cips.model.Menu" >
    update tb_menu
    <set >
      <if test="pid != null" >
        pid = #{pid,jdbcType=VARCHAR},
      </if>
      <if test="menuName != null" >
        menu_name = #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="menuPath != null" >
        menu_path = #{menuPath,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="menuType != null" >
        menu_type = #{menuType,jdbcType=INTEGER},
      </if>
      <if test="createdId != null" >
        created_id = #{createdId,jdbcType=CHAR},
      </if>
      <if test="createdDate != null" >
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedId != null" >
        modified_id = #{modifiedId,jdbcType=CHAR},
      </if>
      <if test="modifiedDate != null" >
        modified_date = #{modifiedDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cips.model.Menu" >
    update tb_menu
    set pid = #{pid,jdbcType=VARCHAR},
      menu_name = #{menuName,jdbcType=VARCHAR},
      menu_path = #{menuPath,jdbcType=VARCHAR},
      level = #{level,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      menu_type = #{menuType,jdbcType=INTEGER},
      created_id = #{createdId,jdbcType=CHAR},
      created_date = #{createdDate,jdbcType=TIMESTAMP},
      modified_id = #{modifiedId,jdbcType=CHAR},
      modified_date = #{modifiedDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=CHAR}
  </update>
  <select id="getMenuListByRoleId" resultType="com.cips.model.Menu" parameterType="map">
  	select 
    	a.id id,
    	a.pid pid,
    	a.menu_name menuName,
    	a.menu_path menuPath,
    	a.menu_type menuType
    from tb_menu a,tb_right b
    where a.id = b.menu_id
      <if test="roleId != null">
      	and b.role_id in
      	 <foreach item="item" index="index" collection="roleId" open="(" separator="," close=")">  
 			 #{item}  
 		</foreach>
      </if>
      and a.pid = #{pid,jdbcType=VARCHAR}
      and a.status = 0
  </select>
</mapper>