<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cips.dao.OrderDetailsMapper" >
  <resultMap id="BaseResultMap" type="com.cips.model.OrderDetails" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="order_id" property="orderId" jdbcType="CHAR" />
    <result column="account_code" property="accountCode" jdbcType="VARCHAR" />
    <result column="account_name" property="accountName" jdbcType="VARCHAR" />
    <result column="account_bank" property="accountBank" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="account_tel" property="accountTel" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, order_id, account_code, account_name, account_bank, type, amount, account_tel
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tb_order_details
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tb_order_details
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.cips.model.OrderDetails" >
    insert into tb_order_details (id, order_id, account_code, 
      account_name, account_bank, type, 
      amount, account_tel)
    values (#{id,jdbcType=CHAR}, #{orderId,jdbcType=CHAR}, #{accountCode,jdbcType=VARCHAR}, 
      #{accountName,jdbcType=VARCHAR}, #{accountBank,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, 
      #{amount,jdbcType=DECIMAL}, #{accountTel,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cips.model.OrderDetails" >
    insert into tb_order_details
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="accountCode != null" >
        account_code,
      </if>
      <if test="accountName != null" >
        account_name,
      </if>
      <if test="accountBank != null" >
        account_bank,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="accountTel != null" >
        account_tel,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=CHAR},
      </if>
      <if test="accountCode != null" >
        #{accountCode,jdbcType=VARCHAR},
      </if>
      <if test="accountName != null" >
        #{accountName,jdbcType=VARCHAR},
      </if>
      <if test="accountBank != null" >
        #{accountBank,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="accountTel != null" >
        #{accountTel,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cips.model.OrderDetails" >
    update tb_order_details
    <set >
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=CHAR},
      </if>
      <if test="accountCode != null" >
        account_code = #{accountCode,jdbcType=VARCHAR},
      </if>
      <if test="accountName != null" >
        account_name = #{accountName,jdbcType=VARCHAR},
      </if>
      <if test="accountBank != null" >
        account_bank = #{accountBank,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="accountTel != null" >
        account_tel = #{accountTel,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cips.model.OrderDetails" >
    update tb_order_details
    set order_id = #{orderId,jdbcType=CHAR},
      account_code = #{accountCode,jdbcType=VARCHAR},
      account_name = #{accountName,jdbcType=VARCHAR},
      account_bank = #{accountBank,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      amount = #{amount,jdbcType=DECIMAL},
      account_tel = #{accountTel,jdbcType=VARCHAR}
    where id = #{id,jdbcType=CHAR}
  </update>
</mapper>