<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cips.dao.OrderMapper">
  <resultMap id="BaseResultMap" type="com.cips.model.Order">
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="apply_amount" jdbcType="DECIMAL" property="applyAmount" />
    <result column="pay_amount" jdbcType="DECIMAL" property="payAmount" />
    <result column="poundage_ratio" jdbcType="DECIMAL" property="poundageRatio" />
    <result column="exchange_rate_rmb" jdbcType="DECIMAL" property="exchangeRateRmb" />
    <result column="exchange_rate_usd" jdbcType="DECIMAL" property="exchangeRateUsd" />
    <result column="apply_id" jdbcType="CHAR" property="applyId" />
    <result column="apply_date" jdbcType="TIMESTAMP" property="applyDate" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="modified_id" jdbcType="CHAR" property="modifiedId" />
    <result column="modified_date" jdbcType="TIMESTAMP" property="modifiedDate" />
    <result column="completed_date" jdbcType="TIMESTAMP" property="completedDate" />
    <result column="hw_user_id" jdbcType="CHAR" property="hwUserId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, order_no, apply_amount, pay_amount, poundage_ratio, exchange_rate_rmb, exchange_rate_usd, 
    apply_id, apply_date, status, modified_id, modified_date, completed_date, hw_user_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_order
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_order
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.cips.model.Order">
    insert into tb_order (id, order_no, apply_amount, 
      pay_amount, poundage_ratio, exchange_rate_rmb, 
      exchange_rate_usd, apply_id, apply_date, 
      status, modified_id, modified_date, 
      completed_date, hw_user_id)
    values (#{id,jdbcType=CHAR}, #{orderNo,jdbcType=VARCHAR}, #{applyAmount,jdbcType=DECIMAL}, 
      #{payAmount,jdbcType=DECIMAL}, #{poundageRatio,jdbcType=DECIMAL}, #{exchangeRateRmb,jdbcType=DECIMAL}, 
      #{exchangeRateUsd,jdbcType=DECIMAL}, #{applyId,jdbcType=CHAR}, #{applyDate,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=INTEGER}, #{modifiedId,jdbcType=CHAR}, #{modifiedDate,jdbcType=TIMESTAMP}, 
      #{completedDate,jdbcType=TIMESTAMP}, #{hwUserId,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cips.model.Order">
    insert into tb_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="applyAmount != null">
        apply_amount,
      </if>
      <if test="payAmount != null">
        pay_amount,
      </if>
      <if test="poundageRatio != null">
        poundage_ratio,
      </if>
      <if test="exchangeRateRmb != null">
        exchange_rate_rmb,
      </if>
      <if test="exchangeRateUsd != null">
        exchange_rate_usd,
      </if>
      <if test="applyId != null">
        apply_id,
      </if>
      <if test="applyDate != null">
        apply_date,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="modifiedId != null">
        modified_id,
      </if>
      <if test="modifiedDate != null">
        modified_date,
      </if>
      <if test="completedDate != null">
        completed_date,
      </if>
      <if test="hwUserId != null">
        hw_user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=CHAR},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="applyAmount != null">
        #{applyAmount,jdbcType=DECIMAL},
      </if>
      <if test="payAmount != null">
        #{payAmount,jdbcType=DECIMAL},
      </if>
      <if test="poundageRatio != null">
        #{poundageRatio,jdbcType=DECIMAL},
      </if>
      <if test="exchangeRateRmb != null">
        #{exchangeRateRmb,jdbcType=DECIMAL},
      </if>
      <if test="exchangeRateUsd != null">
        #{exchangeRateUsd,jdbcType=DECIMAL},
      </if>
      <if test="applyId != null">
        #{applyId,jdbcType=CHAR},
      </if>
      <if test="applyDate != null">
        #{applyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="modifiedId != null">
        #{modifiedId,jdbcType=CHAR},
      </if>
      <if test="modifiedDate != null">
        #{modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="completedDate != null">
        #{completedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="hwUserId != null">
        #{hwUserId,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cips.model.Order">
    update tb_order
    <set>
      <if test="orderNo != null">
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="applyAmount != null">
        apply_amount = #{applyAmount,jdbcType=DECIMAL},
      </if>
      <if test="payAmount != null">
        pay_amount = #{payAmount,jdbcType=DECIMAL},
      </if>
      <if test="poundageRatio != null">
        poundage_ratio = #{poundageRatio,jdbcType=DECIMAL},
      </if>
      <if test="exchangeRateRmb != null">
        exchange_rate_rmb = #{exchangeRateRmb,jdbcType=DECIMAL},
      </if>
      <if test="exchangeRateUsd != null">
        exchange_rate_usd = #{exchangeRateUsd,jdbcType=DECIMAL},
      </if>
      <if test="applyId != null">
        apply_id = #{applyId,jdbcType=CHAR},
      </if>
      <if test="applyDate != null">
        apply_date = #{applyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="modifiedId != null">
        modified_id = #{modifiedId,jdbcType=CHAR},
      </if>
      <if test="modifiedDate != null">
        modified_date = #{modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="completedDate != null">
        completed_date = #{completedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="hwUserId != null">
        hw_user_id = #{hwUserId,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cips.model.Order">
    update tb_order
    set order_no = #{orderNo,jdbcType=VARCHAR},
      apply_amount = #{applyAmount,jdbcType=DECIMAL},
      pay_amount = #{payAmount,jdbcType=DECIMAL},
      poundage_ratio = #{poundageRatio,jdbcType=DECIMAL},
      exchange_rate_rmb = #{exchangeRateRmb,jdbcType=DECIMAL},
      exchange_rate_usd = #{exchangeRateUsd,jdbcType=DECIMAL},
      apply_id = #{applyId,jdbcType=CHAR},
      apply_date = #{applyDate,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      modified_id = #{modifiedId,jdbcType=CHAR},
      modified_date = #{modifiedDate,jdbcType=TIMESTAMP},
      completed_date = #{completedDate,jdbcType=TIMESTAMP},
      hw_user_id = #{hwUserId,jdbcType=CHAR}
    where id = #{id,jdbcType=CHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.cips.model.Order">
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="apply_amount" jdbcType="DECIMAL" property="applyAmount" />
    <result column="pay_amount" jdbcType="DECIMAL" property="payAmount" />
    <result column="poundage_ratio" jdbcType="DECIMAL" property="poundageRatio" />
    <result column="exchange_rate_rmb" jdbcType="DECIMAL" property="exchangeRateRmb" />
    <result column="exchange_rate_usd" jdbcType="DECIMAL" property="exchangeRateUsd" />
    <result column="apply_id" jdbcType="CHAR" property="applyId" />
    <result column="apply_date" jdbcType="TIMESTAMP" property="applyDate" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="modified_id" jdbcType="CHAR" property="modifiedId" />
    <result column="modified_date" jdbcType="TIMESTAMP" property="modifiedDate" />
    <result column="completed_date" jdbcType="TIMESTAMP" property="completedDate" />
    <result column="hw_order_id" jdbcType="CHAR" property="hwOrderId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, order_no, apply_amount, pay_amount, poundage_ratio, exchange_rate_rmb, exchange_rate_usd, 
    apply_id, apply_date, status, modified_id, modified_date, completed_date, hw_order_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_order
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_order
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.cips.model.Order">
    insert into tb_order (id, order_no, apply_amount, 
      pay_amount, poundage_ratio, exchange_rate_rmb, 
      exchange_rate_usd, apply_id, apply_date, 
      status, modified_id, modified_date, 
      completed_date, hw_order_id)
    values (#{id,jdbcType=CHAR}, #{orderNo,jdbcType=VARCHAR}, #{applyAmount,jdbcType=DECIMAL}, 
      #{payAmount,jdbcType=DECIMAL}, #{poundageRatio,jdbcType=DECIMAL}, #{exchangeRateRmb,jdbcType=DECIMAL}, 
      #{exchangeRateUsd,jdbcType=DECIMAL}, #{applyId,jdbcType=CHAR}, #{applyDate,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=INTEGER}, #{modifiedId,jdbcType=CHAR}, #{modifiedDate,jdbcType=TIMESTAMP}, 
      #{completedDate,jdbcType=TIMESTAMP}, #{hwOrderId,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cips.model.Order">
    insert into tb_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="applyAmount != null">
        apply_amount,
      </if>
      <if test="payAmount != null">
        pay_amount,
      </if>
      <if test="poundageRatio != null">
        poundage_ratio,
      </if>
      <if test="exchangeRateRmb != null">
        exchange_rate_rmb,
      </if>
      <if test="exchangeRateUsd != null">
        exchange_rate_usd,
      </if>
      <if test="applyId != null">
        apply_id,
      </if>
      <if test="applyDate != null">
        apply_date,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="modifiedId != null">
        modified_id,
      </if>
      <if test="modifiedDate != null">
        modified_date,
      </if>
      <if test="completedDate != null">
        completed_date,
      </if>
      <if test="hwOrderId != null">
        hw_order_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=CHAR},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="applyAmount != null">
        #{applyAmount,jdbcType=DECIMAL},
      </if>
      <if test="payAmount != null">
        #{payAmount,jdbcType=DECIMAL},
      </if>
      <if test="poundageRatio != null">
        #{poundageRatio,jdbcType=DECIMAL},
      </if>
      <if test="exchangeRateRmb != null">
        #{exchangeRateRmb,jdbcType=DECIMAL},
      </if>
      <if test="exchangeRateUsd != null">
        #{exchangeRateUsd,jdbcType=DECIMAL},
      </if>
      <if test="applyId != null">
        #{applyId,jdbcType=CHAR},
      </if>
      <if test="applyDate != null">
        #{applyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="modifiedId != null">
        #{modifiedId,jdbcType=CHAR},
      </if>
      <if test="modifiedDate != null">
        #{modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="completedDate != null">
        #{completedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="hwOrderId != null">
        #{hwOrderId,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cips.model.Order">
    update tb_order
    <set>
      <if test="orderNo != null">
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="applyAmount != null">
        apply_amount = #{applyAmount,jdbcType=DECIMAL},
      </if>
      <if test="payAmount != null">
        pay_amount = #{payAmount,jdbcType=DECIMAL},
      </if>
      <if test="poundageRatio != null">
        poundage_ratio = #{poundageRatio,jdbcType=DECIMAL},
      </if>
      <if test="exchangeRateRmb != null">
        exchange_rate_rmb = #{exchangeRateRmb,jdbcType=DECIMAL},
      </if>
      <if test="exchangeRateUsd != null">
        exchange_rate_usd = #{exchangeRateUsd,jdbcType=DECIMAL},
      </if>
      <if test="applyId != null">
        apply_id = #{applyId,jdbcType=CHAR},
      </if>
      <if test="applyDate != null">
        apply_date = #{applyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="modifiedId != null">
        modified_id = #{modifiedId,jdbcType=CHAR},
      </if>
      <if test="modifiedDate != null">
        modified_date = #{modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="completedDate != null">
        completed_date = #{completedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="hwOrderId != null">
        hw_order_id = #{hwOrderId,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cips.model.Order">
    update tb_order
    set order_no = #{orderNo,jdbcType=VARCHAR},
      apply_amount = #{applyAmount,jdbcType=DECIMAL},
      pay_amount = #{payAmount,jdbcType=DECIMAL},
      poundage_ratio = #{poundageRatio,jdbcType=DECIMAL},
      exchange_rate_rmb = #{exchangeRateRmb,jdbcType=DECIMAL},
      exchange_rate_usd = #{exchangeRateUsd,jdbcType=DECIMAL},
      apply_id = #{applyId,jdbcType=CHAR},
      apply_date = #{applyDate,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      modified_id = #{modifiedId,jdbcType=CHAR},
      modified_date = #{modifiedDate,jdbcType=TIMESTAMP},
      completed_date = #{completedDate,jdbcType=TIMESTAMP},
      hw_order_id = #{hwOrderId,jdbcType=CHAR}
    where id = #{id,jdbcType=CHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.cips.model.Order">
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="apply_amount" jdbcType="DECIMAL" property="applyAmount" />
    <result column="pay_amount" jdbcType="DECIMAL" property="payAmount" />
    <result column="poundage_ratio" jdbcType="INTEGER" property="poundageRatio" />
    <result column="exchange_rate_rmb" jdbcType="DECIMAL" property="exchangeRateRmb" />
    <result column="exchange_rate_usd" jdbcType="DECIMAL" property="exchangeRateUsd" />
    <result column="apply_id" jdbcType="CHAR" property="applyId" />
    <result column="apply_date" jdbcType="TIMESTAMP" property="applyDate" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="modified_id" jdbcType="CHAR" property="modifiedId" />
    <result column="modified_date" jdbcType="TIMESTAMP" property="modifiedDate" />
    <result column="completed_date" jdbcType="TIMESTAMP" property="completedDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, order_no, apply_amount, pay_amount, poundage_ratio, exchange_rate_rmb, exchange_rate_usd, 
    apply_id, apply_date, status, modified_id, modified_date, completed_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_order
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_order
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.cips.model.Order">
    insert into tb_order (id, order_no, apply_amount, 
      pay_amount, poundage_ratio, exchange_rate_rmb, 
      exchange_rate_usd, apply_id, apply_date, 
      status, modified_id, modified_date, 
      completed_date)
    values (#{id,jdbcType=CHAR}, #{orderNo,jdbcType=VARCHAR}, #{applyAmount,jdbcType=DECIMAL}, 
      #{payAmount,jdbcType=DECIMAL}, #{poundageRatio,jdbcType=INTEGER}, #{exchangeRateRmb,jdbcType=DECIMAL}, 
      #{exchangeRateUsd,jdbcType=DECIMAL}, #{applyId,jdbcType=CHAR}, #{applyDate,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=INTEGER}, #{modifiedId,jdbcType=CHAR}, #{modifiedDate,jdbcType=TIMESTAMP}, 
      #{completedDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.cips.model.Order">
    insert into tb_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="applyAmount != null">
        apply_amount,
      </if>
      <if test="payAmount != null">
        pay_amount,
      </if>
      <if test="poundageRatio != null">
        poundage_ratio,
      </if>
      <if test="exchangeRateRmb != null">
        exchange_rate_rmb,
      </if>
      <if test="exchangeRateUsd != null">
        exchange_rate_usd,
      </if>
      <if test="applyId != null">
        apply_id,
      </if>
      <if test="applyDate != null">
        apply_date,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="modifiedId != null">
        modified_id,
      </if>
      <if test="modifiedDate != null">
        modified_date,
      </if>
      <if test="completedDate != null">
        completed_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=CHAR},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="applyAmount != null">
        #{applyAmount,jdbcType=DECIMAL},
      </if>
      <if test="payAmount != null">
        #{payAmount,jdbcType=DECIMAL},
      </if>
      <if test="poundageRatio != null">
        #{poundageRatio,jdbcType=INTEGER},
      </if>
      <if test="exchangeRateRmb != null">
        #{exchangeRateRmb,jdbcType=DECIMAL},
      </if>
      <if test="exchangeRateUsd != null">
        #{exchangeRateUsd,jdbcType=DECIMAL},
      </if>
      <if test="applyId != null">
        #{applyId,jdbcType=CHAR},
      </if>
      <if test="applyDate != null">
        #{applyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="modifiedId != null">
        #{modifiedId,jdbcType=CHAR},
      </if>
      <if test="modifiedDate != null">
        #{modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="completedDate != null">
        #{completedDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cips.model.Order">
    update tb_order
    <set>
      <if test="orderNo != null">
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="applyAmount != null">
        apply_amount = #{applyAmount,jdbcType=DECIMAL},
      </if>
      <if test="payAmount != null">
        pay_amount = #{payAmount,jdbcType=DECIMAL},
      </if>
      <if test="poundageRatio != null">
        poundage_ratio = #{poundageRatio,jdbcType=INTEGER},
      </if>
      <if test="exchangeRateRmb != null">
        exchange_rate_rmb = #{exchangeRateRmb,jdbcType=DECIMAL},
      </if>
      <if test="exchangeRateUsd != null">
        exchange_rate_usd = #{exchangeRateUsd,jdbcType=DECIMAL},
      </if>
      <if test="applyId != null">
        apply_id = #{applyId,jdbcType=CHAR},
      </if>
      <if test="applyDate != null">
        apply_date = #{applyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="modifiedId != null">
        modified_id = #{modifiedId,jdbcType=CHAR},
      </if>
      <if test="modifiedDate != null">
        modified_date = #{modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="completedDate != null">
        completed_date = #{completedDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cips.model.Order">
    update tb_order
    set order_no = #{orderNo,jdbcType=VARCHAR},
      apply_amount = #{applyAmount,jdbcType=DECIMAL},
      pay_amount = #{payAmount,jdbcType=DECIMAL},
      poundage_ratio = #{poundageRatio,jdbcType=INTEGER},
      exchange_rate_rmb = #{exchangeRateRmb,jdbcType=DECIMAL},
      exchange_rate_usd = #{exchangeRateUsd,jdbcType=DECIMAL},
      apply_id = #{applyId,jdbcType=CHAR},
      apply_date = #{applyDate,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      modified_id = #{modifiedId,jdbcType=CHAR},
      modified_date = #{modifiedDate,jdbcType=TIMESTAMP},
      completed_date = #{completedDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=CHAR}
  </update>
  <select id="toPageOrderListByParams" parameterType="Map" resultType="com.cips.model.Order">
	select
    <include refid="Base_Column_List" />
    from tb_order o
	where 1=1
    <if test="order.applyId != null">
 		and o.apply_id = #{order.applyId}
    </if>
 	<if test="order.status != null">
 		and o.status = #{order.status}
 	</if>
 	<if test="order.orderNo != null">
 		and o.order_no = #{order.orderNo}
 	</if>
 	<if test="order.applyDateBegin != null">
 		and str_to_date(o.apply_date,'%Y-%m-%d') &lt;= str_to_date(#{order.applyDateBegin},'%Y-%m-%d')
 	</if>
 	<if test="order.applyDateEnd != null">
 		and str_to_date(o.apply_date,'%Y-%m-%d') &lt;= str_to_date(#{order.applyDateEnd},'%Y-%m-%d')
 	</if>
  </select>
</mapper>