<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cips.dao.OrderMapper" >
  <resultMap id="BaseResultMap" type="com.cips.model.Order" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="apply_amount" property="applyAmount" jdbcType="DECIMAL" />
    <result column="pay_amount" property="payAmount" jdbcType="DECIMAL" />
    <result column="poundage_ratio" property="poundageRatio" jdbcType="DECIMAL" />
    <result column="exchange_rate_rmb" property="exchangeRateRmb" jdbcType="DECIMAL" />
    <result column="exchange_rate_usd" property="exchangeRateUsd" jdbcType="DECIMAL" />
    <result column="apply_id" property="applyId" jdbcType="CHAR" />
    <result column="apply_date" property="applyDate" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="modified_id" property="modifiedId" jdbcType="CHAR" />
    <result column="modified_date" property="modifiedDate" jdbcType="TIMESTAMP" />
    <result column="completed_date" property="completedDate" jdbcType="TIMESTAMP" />
    <result column="hw_user_id" property="hwUserId" jdbcType="CHAR" />
    <result column="hc_apply_amount" property="hcApplyAmount" jdbcType="DECIMAL" />
    <result column="hc_pay_amount" property="hcPayAmount" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, order_no, apply_amount, pay_amount, poundage_ratio, exchange_rate_rmb, exchange_rate_usd, 
    apply_id, apply_date, status, modified_id, modified_date, completed_date, hw_user_id, hc_pay_amount, hc_apply_amount
  </sql>
  <select id="selectByPrimaryKey" resultType="com.cips.model.Order" parameterType="java.lang.String" >
    select 
      o.id id, 
      o.order_no orderNo, 
      o.apply_amount applyAmount, 
      o.pay_amount payAmount, 
      o.poundage_ratio poundageRatio, 
      o.exchange_rate_rmb exchangeRateRmb, 
      o.exchange_rate_usd exchangeRateUsd, 
      o.apply_id applyId, 
      o.apply_date applyDate, 
      o.status status, 
      o.modified_id modifiedId, 
      o.modified_date modifiedDate, 
      o.completed_date completedDate, 
      o.hw_user_id hwUserId,
      o.hc_pay_amount hcPayAmount,
      o.hc_apply_amount hcApplyAmount,
      a.amount_total matchAmount
    from tb_order o,tb_account_amount a
	where o.id = a.order_id and o.id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tb_order
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.cips.model.Order" >
    insert into tb_order (id, order_no, apply_amount, 
      pay_amount, poundage_ratio, exchange_rate_rmb, 
      exchange_rate_usd, apply_id, apply_date, 
      status, modified_id, modified_date, 
      completed_date, hw_user_id, hc_pay_amount, hc_apply_amount)
    values (#{id,jdbcType=CHAR}, #{orderNo,jdbcType=VARCHAR}, #{applyAmount,jdbcType=DECIMAL}, 
      #{payAmount,jdbcType=DECIMAL}, #{poundageRatio,jdbcType=DECIMAL}, #{exchangeRateRmb,jdbcType=DECIMAL}, 
      #{exchangeRateUsd,jdbcType=DECIMAL}, #{applyId,jdbcType=CHAR}, #{applyDate,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=INTEGER}, #{modifiedId,jdbcType=CHAR}, #{modifiedDate,jdbcType=TIMESTAMP}, 
      #{completedDate,jdbcType=TIMESTAMP}, #{hwUserId,jdbcType=CHAR}, #{hcPayAmount,jdbcType=DECIMAL}, #{hcApplyAmount,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.cips.model.Order" >
    insert into tb_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderNo != null" >
        order_no,
      </if>
      <if test="applyAmount != null" >
        apply_amount,
      </if>
      <if test="payAmount != null" >
        pay_amount,
      </if>
      <if test="poundageRatio != null" >
        poundage_ratio,
      </if>
      <if test="exchangeRateRmb != null" >
        exchange_rate_rmb,
      </if>
      <if test="exchangeRateUsd != null" >
        exchange_rate_usd,
      </if>
      <if test="applyId != null" >
        apply_id,
      </if>
      <if test="applyDate != null" >
        apply_date,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="modifiedId != null" >
        modified_id,
      </if>
      <if test="modifiedDate != null" >
        modified_date,
      </if>
      <if test="completedDate != null" >
        completed_date,
      </if>
      <if test="hwUserId != null" >
        hw_user_id,
      </if>
      <if test="hcApplyAmount != null" >
        hc_apply_amount,
      </if>
      <if test="hcPayAmount != null" >
        hc_pay_amount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="applyAmount != null" >
        #{applyAmount,jdbcType=DECIMAL},
      </if>
      <if test="payAmount != null" >
        #{payAmount,jdbcType=DECIMAL},
      </if>
      <if test="poundageRatio != null" >
        #{poundageRatio,jdbcType=DECIMAL},
      </if>
      <if test="exchangeRateRmb != null" >
        #{exchangeRateRmb,jdbcType=DECIMAL},
      </if>
      <if test="exchangeRateUsd != null" >
        #{exchangeRateUsd,jdbcType=DECIMAL},
      </if>
      <if test="applyId != null" >
        #{applyId,jdbcType=CHAR},
      </if>
      <if test="applyDate != null" >
        #{applyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="modifiedId != null" >
        #{modifiedId,jdbcType=CHAR},
      </if>
      <if test="modifiedDate != null" >
        #{modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="completedDate != null" >
        #{completedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="hwUserId != null" >
        #{hwUserId,jdbcType=CHAR},
      </if>
      <if test="hcApplyAmount != null" >
        #{hcApplyAmount,jdbcType=DECIMAL},
      </if>
      <if test="hcPayAmount != null" >
        #{hcPayAmount,jdbcType=DECIMAL}
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cips.model.Order" >
    update tb_order
    <set >
      <if test="orderNo != null" >
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="applyAmount != null" >
        apply_amount = #{applyAmount,jdbcType=DECIMAL},
      </if>
      <if test="payAmount != null" >
        pay_amount = #{payAmount,jdbcType=DECIMAL},
      </if>
      <if test="poundageRatio != null" >
        poundage_ratio = #{poundageRatio,jdbcType=DECIMAL},
      </if>
      <if test="exchangeRateRmb != null" >
        exchange_rate_rmb = #{exchangeRateRmb,jdbcType=DECIMAL},
      </if>
      <if test="exchangeRateUsd != null" >
        exchange_rate_usd = #{exchangeRateUsd,jdbcType=DECIMAL},
      </if>
      <if test="applyId != null" >
        apply_id = #{applyId,jdbcType=CHAR},
      </if>
      <if test="applyDate != null" >
        apply_date = #{applyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="modifiedId != null" >
        modified_id = #{modifiedId,jdbcType=CHAR},
      </if>
      <if test="modifiedDate != null" >
        modified_date = #{modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="completedDate != null" >
        completed_date = #{completedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="hwUserId != null" >
        hw_user_id = #{hwUserId,jdbcType=CHAR},
      </if>
      <if test="hcApplyAmount != null" >
        hc_apply_amount = #{hcApplyAmount,jdbcType=DECIMAL},
      </if>
      <if test="hcPayAmount != null" >
        hc_pay_amount = #{hcPayAmount,jdbcType=DECIMAL}
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cips.model.Order" >
    update tb_order
    set order_no = #{orderNo,jdbcType=VARCHAR},
      apply_amount = #{applyAmount,jdbcType=DECIMAL},
      pay_amount = #{payAmount,jdbcType=DECIMAL},
      poundage_ratio = #{poundageRatio,jdbcType=DECIMAL},
      exchange_rate_rmb = #{exchangeRateRmb,jdbcType=DECIMAL},
      exchange_rate_usd = #{exchangeRateUsd,jdbcType=DECIMAL},
      apply_id = #{applyId,jdbcType=CHAR},
      apply_date = #{applyDate,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      modified_id = #{modifiedId,jdbcType=CHAR},
      modified_date = #{modifiedDate,jdbcType=TIMESTAMP},
      completed_date = #{completedDate,jdbcType=TIMESTAMP},
      hw_user_id = #{hwUserId,jdbcType=CHAR},
      hc_apply_amount = #{hcApplyAmount,jdbcType=DECIMAL},
      hc_pay_amount = #{hcPayAmount,jdbcType=DECIMAL}
    where id = #{id,jdbcType=CHAR}
  </update>
  <!--  
  <select id="toPageOrderListByParams" parameterType="Map" resultMap="BaseResultMap">
	select
    <include refid="Base_Column_List" />
    from tb_order o
	where 1=1
    <if test="order.applyId != null and order.applyId != ''">
 		and o.apply_id = #{order.applyId}
    </if>
 	<if test="order.status != null and order.status != ''">
 		and o.status = #{order.status}
 	</if>
 	<if test="order.orderNo != null and order.orderNo != ''">
 		and o.order_no = #{order.orderNo}
 	</if>
 	<if test="order.applyBDate != null and order.applyBDate != ''">
 		and str_to_date(o.apply_date,'%Y-%m-%d') &gt;= str_to_date(#{order.applyBDate},'%Y-%m-%d')
 	</if>
 	<if test="order.applyEDate != null and order.applyEDate != ''">
 		and str_to_date(o.apply_date,'%Y-%m-%d') &lt;= str_to_date(#{order.applyEDate},'%Y-%m-%d')
 	</if>
  </select>-->
  <select id="toPageOrderListByParams" parameterType="Map" resultType="com.cips.model.Order">
	select
      o.id id, 
      o.order_no orderNo, 
      o.apply_amount applyAmount, 
      o.pay_amount payAmount, 
      o.poundage_ratio poundageRatio, 
      o.exchange_rate_rmb exchangeRateRmb, 
      o.exchange_rate_usd exchangeRateUsd, 
      o.apply_id applyId, 
      o.apply_date applyDate, 
      o.status status, 
      o.modified_id modifiedId, 
      o.modified_date modifiedDate, 
      o.completed_date completedDate, 
      o.hw_user_id hwUserId,
      a.amount_total matchAmount,
      o.hc_apply_amount hcApplyAmount,
      o.hc_pay_amount hcPayAmount
    from tb_order o,tb_account_amount a
	where o.id = a.order_id
    <if test="order.applyId != null and order.applyId != ''">
 		and o.apply_id = #{order.applyId}
    </if>
 	<if test="order.status != null and order.status != ''">
 		and o.status = #{order.status}
 	</if>
 	<if test="order.orderNo != null and order.orderNo != ''">
 		and o.order_no = #{order.orderNo}
 	</if>
 	<if test="order.applyBDate != null and order.applyBDate != ''">
 		and str_to_date(o.apply_date,'%Y-%m-%d') &gt;= str_to_date(#{order.applyBDate},'%Y-%m-%d')
 	</if>
 	<if test="order.applyEDate != null and order.applyEDate != ''">
 		and str_to_date(o.apply_date,'%Y-%m-%d') &lt;= str_to_date(#{order.applyEDate},'%Y-%m-%d')
 	</if>
 	<if test="orderIds != null">
 	  and o.id in 
 	  <foreach item="id" index="index" collection="orderIds" open="(" separator="," close=")">
 	  	#{id,jdbcType=CHAR}
 	  </foreach> 
 	</if>
  </select>
  <select id="getOrderByOrderNo" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tb_order
    where order_no = #{orderNo}
  </select>
</mapper>