<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cips.dao.RateMapper" >
  <resultMap id="BaseResultMap" type="com.cips.model.Rate" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="rate_high" property="rateHigh" jdbcType="DECIMAL" />
    <result column="rate_low" property="rateLow" jdbcType="DECIMAL" />
    <result column="rate_diff" property="rateDiff" jdbcType="DECIMAL" />
    <result column="created_id" property="createdId" jdbcType="CHAR" />
    <result column="created_date" property="createdDate" jdbcType="TIMESTAMP" />
    <result column="modified_id" property="modifiedId" jdbcType="CHAR" />
    <result column="modified_date" property="modifiedDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, type, status, rate_high, rate_low, rate_diff, created_id, created_date
  </sql>
  <select id="toPageGetRateList" resultMap="BaseResultMap" >
  	select
  	<include refid="Base_Column_List" />
    from tb_rate
    order by created_date,type,status
  </select>
  <update id="updateRateByStatus" parameterType="map">
  	update tb_rate
  	<set >
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="rateHigh != null" >
        rate_high = #{rateHigh,jdbcType=DECIMAL},
      </if>
      <if test="modifiedId != null" >
        modified_id = #{modifiedId,jdbcType=CHAR},
      </if>
      <if test="modifiedDate != null" >
        modified_date = #{modifiedDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where status = 0 and type = #{type,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tb_rate
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tb_rate
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.cips.model.Rate" >
    insert into tb_rate (id, type, status, 
      rate_high, rate_low, rate_diff, 
      created_id, created_date, modified_id, 
      modified_date)
    values (#{id,jdbcType=CHAR}, #{type,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, 
      #{rateHigh,jdbcType=DECIMAL}, #{rateLow,jdbcType=DECIMAL}, #{rateDiff,jdbcType=DECIMAL}, 
      #{createdId,jdbcType=CHAR}, #{createdDate,jdbcType=TIMESTAMP}, #{modifiedId,jdbcType=CHAR}, 
      #{modifiedDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.cips.model.Rate" >
    insert into tb_rate
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="rateHigh != null" >
        rate_high,
      </if>
      <if test="rateLow != null" >
        rate_low,
      </if>
      <if test="rateDiff != null" >
        rate_diff,
      </if>
      <if test="createdId != null" >
        created_id,
      </if>
      <if test="createdDate != null" >
        created_date,
      </if>
      <if test="modifiedId != null" >
        modified_id,
      </if>
      <if test="modifiedDate != null" >
        modified_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="rateHigh != null" >
        #{rateHigh,jdbcType=DECIMAL},
      </if>
      <if test="rateLow != null" >
        #{rateLow,jdbcType=DECIMAL},
      </if>
      <if test="rateDiff != null" >
        #{rateDiff,jdbcType=DECIMAL},
      </if>
      <if test="createdId != null" >
        #{createdId,jdbcType=CHAR},
      </if>
      <if test="createdDate != null" >
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedId != null" >
        #{modifiedId,jdbcType=CHAR},
      </if>
      <if test="modifiedDate != null" >
        #{modifiedDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cips.model.Rate" >
    update tb_rate
    <set >
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="rateHigh != null" >
        rate_high = #{rateHigh,jdbcType=DECIMAL},
      </if>
      <if test="rateLow != null" >
        rate_low = #{rateLow,jdbcType=DECIMAL},
      </if>
      <if test="rateDiff != null" >
        rate_diff = #{rateDiff,jdbcType=DECIMAL},
      </if>
      <if test="createdId != null" >
        created_id = #{createdId,jdbcType=CHAR},
      </if>
      <if test="createdDate != null" >
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedId != null" >
        modified_id = #{modifiedId,jdbcType=CHAR},
      </if>
      <if test="modifiedDate != null" >
        modified_date = #{modifiedDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cips.model.Rate" >
    update tb_rate
    set type = #{type,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      rate_high = #{rateHigh,jdbcType=DECIMAL},
      rate_low = #{rateLow,jdbcType=DECIMAL},
      rate_diff = #{rateDiff,jdbcType=DECIMAL},
      created_id = #{createdId,jdbcType=CHAR},
      created_date = #{createdDate,jdbcType=TIMESTAMP},
      modified_id = #{modifiedId,jdbcType=CHAR},
      modified_date = #{modifiedDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=CHAR}
  </update>
</mapper>