<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cips.dao.TaskMapper" >
  <resultMap id="BaseResultMap" type="com.cips.model.Task" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="order_id" property="orderId" jdbcType="CHAR" />
    <result column="role_id" property="roleId" jdbcType="CHAR" />
    <result column="order_status" property="orderStatus" jdbcType="INTEGER" />
    <result column="task_type" property="taskType" jdbcType="INTEGER" />
    <result column="begin_time" property="beginTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="operated_id" property="operatedId" jdbcType="CHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, order_id, role_id, order_status, task_type, begin_time, end_time, status, operated_id, 
    remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tb_task
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tb_task
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.cips.model.Task" >
    insert into tb_task (id, order_id, role_id, order_status, 
      task_type, begin_time, end_time, 
      status, operated_id, remark
      )
    values (#{id,jdbcType=CHAR}, #{orderId,jdbcType=CHAR}, #{roleId,jdbcType=CHAR}, #{orderStatus,jdbcType=INTEGER}, 
      #{taskType,jdbcType=INTEGER}, #{beginTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=INTEGER}, #{operatedId,jdbcType=CHAR}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cips.model.Task" >
    insert into tb_task
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="roleId != null" >
        role_id,
      </if>
      <if test="orderStatus != null" >
        order_status,
      </if>
      <if test="taskType != null" >
        task_type,
      </if>
      <if test="beginTime != null" >
        begin_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="operatedId != null" >
        operated_id,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=CHAR},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=CHAR},
      </if>
      <if test="orderStatus != null" >
        #{orderStatus,jdbcType=INTEGER},
      </if>
      <if test="taskType != null" >
        #{taskType,jdbcType=INTEGER},
      </if>
      <if test="beginTime != null" >
        #{beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="operatedId != null" >
        #{operatedId,jdbcType=CHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cips.model.Task" >
    update tb_task
    <set >
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=CHAR},
      </if>
      <if test="roleId != null" >
        role_id = #{roleId,jdbcType=CHAR},
      </if>
      <if test="orderStatus != null" >
        order_status = #{orderStatus,jdbcType=INTEGER},
      </if>
      <if test="taskType != null" >
        task_type = #{taskType,jdbcType=INTEGER},
      </if>
      <if test="beginTime != null" >
        begin_time = #{beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="operatedId != null" >
        operated_id = #{operatedId,jdbcType=CHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cips.model.Task" >
    update tb_task
    set order_id = #{orderId,jdbcType=CHAR},
      role_id = #{roleId,jdbcType=CHAR},
      order_status = #{orderStatus,jdbcType=INTEGER},
      task_type = #{taskType,jdbcType=INTEGER},
      begin_time = #{beginTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      operated_id = #{operatedId,jdbcType=CHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=CHAR}
  </update>
  <select id="toPageTaskListByParams" parameterType="java.util.Map" resultType="com.cips.model.Task">
    select 
       t.id id, t.order_id orderId, t.role_id roleId, t.order_status orderStatus, 
       t.task_type taskType, t.begin_time beginTime, t.end_time endTime, t.status status, 
       t.operated_id operatedId, t.remark remark, o.order_no orderNo
    from tb_task t,
    tb_order o
 	where t.order_id = o.id
 	<if test="roleIds != null">
 	 and t.role_id in 
 	  <foreach item="roleId" index="index" collection="roleIds" open="(" separator="," close=")">
 	  	#{roleId,jdbcType=CHAR}
 	  </foreach> 
 	 </if>
 	<if test="status != null">
      	and t.status = #{status,jdbcType=INTEGER}
    </if>
 	<if test="userId != null and userId != ''">
      	and (t.operated_id = #{userId,jdbcType=CHAR} or t.operated_id IS NULL)
    </if>
    <if test="operatedId != null and operatedId != ''">
    	and t.operated_id = #{operatedId,jdbcType=CHAR}
    </if>
    <if test="orderNo != null and orderNo != ''">
    	and o.order_no = #{orderNo,jdbcType=CHAR}
    </if>
    <if test="beginTime != null and beginTime != ''">
    	and str_to_date(t.end_time,'%Y-%m-%d') &gt;= str_to_date(#{beginTime},'%Y-%m-%d')
    </if>
    <if test="endTime != null and endTime != ''">
    	and str_to_date(t.end_time,'%Y-%m-%d') &lt;= str_to_date(#{endTime},'%Y-%m-%d')
    </if>
    order by t.end_time, t.operated_id
   </select>
   <select id="getTaskByParams" parameterType="Map" resultType="com.cips.model.Task">
	select
       t.id id, t.order_id orderId, t.role_id roleId, t.order_status orderStatus, 
       t.task_type taskType, t.begin_time beginTime, t.end_time endTime, t.status status, 
       t.operated_id operatedId, t.remark remark, o.order_no orderNo
    from tb_task t,
    tb_order o
 	where t.order_id = o.id
    <if test="orderId != null">
 		and t.order_id = #{orderId}
    </if>
 	<if test="taskType != null">
 		and t.task_type = #{taskType}
 	</if>
  </select>
  <select id="getTaskNum" parameterType="java.util.Map" resultType="java.lang.Integer">
    select 
       count(1)
    from tb_task t where 1=1
 	<if test="roleIds != null">
 	 and t.role_id in 
 	  <foreach item="roleId" index="index" collection="roleIds" open="(" separator="," close=")">
 	  	#{roleId,jdbcType=CHAR}
 	  </foreach> 
 	 </if>
 	<if test="status != null">
      	and t.status = #{status,jdbcType=INTEGER}
    </if>
 	<if test="userId != null and userId != ''">
      	and (t.operated_id = #{userId,jdbcType=CHAR} or t.operated_id IS NULL)
    </if>
   </select>
</mapper>