<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cips.dao.UserRoleMapper" >
  <resultMap id="BaseResultMap" type="com.cips.model.UserRole" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="user_id" property="userId" jdbcType="CHAR" />
    <result column="role_id" property="roleId" jdbcType="CHAR" />
    <result column="created_id" property="createdId" jdbcType="CHAR" />
    <result column="created_date" property="createdDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, role_id, created_id, created_date
  </sql>
  <select id="getUserRoleListByUserId" resultMap="BaseResultMap" parameterType="java.lang.String" >
  	select 
    <include refid="Base_Column_List" />
    from tb_user_role
    where user_id = #{userId,jdbcType=CHAR}
  </select>
  <insert id="insertUserRoleList" parameterType="java.lang.String">
  	 insert into tb_user_role (id, user_id, role_id, created_id, 
      created_date)
    values
    <foreach collection="list" item="ur" index="index" separator="," >  
       (#{ur.id,jdbcType=CHAR}, #{ur.userId,jdbcType=CHAR}, #{ur.roleId,jdbcType=CHAR}, #{ur.createdId,jdbcType=CHAR}, 
      	#{ur.createdDate,jdbcType=TIMESTAMP})
    </foreach> 	
  </insert>
  <delete id="deleteUserRoleByUserId" parameterType="java.lang.String" >
  	delete from tb_user_role where user_id = #{userId,jdbcType=CHAR}
  </delete>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tb_user_role
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tb_user_role
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.cips.model.UserRole" >
    insert into tb_user_role (id, user_id, role_id, created_id, 
      created_date)
    values (#{id,jdbcType=CHAR}, #{userId,jdbcType=CHAR}, #{roleId,jdbcType=CHAR}, #{createdId,jdbcType=CHAR}, 
      #{createdDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.cips.model.UserRole" >
    insert into tb_user_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="roleId != null" >
        role_id,
      </if>
      <if test="createdId != null" >
        created_id,
      </if>
      <if test="createdDate != null" >
        created_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=CHAR},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=CHAR},
      </if>
      <if test="createdId != null" >
        #{createdId,jdbcType=CHAR},
      </if>
      <if test="createdDate != null" >
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cips.model.UserRole" >
    update tb_user_role
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=CHAR},
      </if>
      <if test="roleId != null" >
        role_id = #{roleId,jdbcType=CHAR},
      </if>
      <if test="createdId != null" >
        created_id = #{createdId,jdbcType=CHAR},
      </if>
      <if test="createdDate != null" >
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cips.model.UserRole" >
    update tb_user_role
    set user_id = #{userId,jdbcType=CHAR},
      role_id = #{roleId,jdbcType=CHAR},
      created_id = #{createdId,jdbcType=CHAR},
      created_date = #{createdDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=CHAR}
  </update>
</mapper>