<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cips.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.cips.model.User" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="user_code" property="userCode" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="credit_id" property="creditId" jdbcType="VARCHAR" />
    <result column="is_first_login" property="isFirstLogin" jdbcType="INTEGER" />
    <result column="created_id" property="createdId" jdbcType="CHAR" />
    <result column="created_date" property="createdDate" jdbcType="TIMESTAMP" />
    <result column="modified_id" property="modifiedId" jdbcType="CHAR" />
    <result column="modified_date" property="modifiedDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_code, user_name, password, mobile, email, status, credit_id, is_first_login, 
    created_id, created_date, modified_id, modified_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tb_user
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tb_user
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.cips.model.User" >
    insert into tb_user (id, user_code, user_name, 
      password, mobile, email, 
      status, credit_id, is_first_login, 
      created_id, created_date, modified_id, 
      modified_date)
    values (#{id,jdbcType=CHAR}, #{userCode,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{creditId,jdbcType=VARCHAR}, #{isFirstLogin,jdbcType=INTEGER}, 
      #{createdId,jdbcType=CHAR}, #{createdDate,jdbcType=TIMESTAMP}, #{modifiedId,jdbcType=CHAR}, 
      #{modifiedDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.cips.model.User" >
    insert into tb_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userCode != null" >
        user_code,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="creditId != null" >
        credit_id,
      </if>
      <if test="isFirstLogin != null" >
        is_first_login,
      </if>
      <if test="createdId != null" >
        created_id,
      </if>
      <if test="createdDate != null" >
        created_date,
      </if>
      <if test="modifiedId != null" >
        modified_id,
      </if>
      <if test="modifiedDate != null" >
        modified_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="userCode != null" >
        #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="creditId != null" >
        #{creditId,jdbcType=VARCHAR},
      </if>
      <if test="isFirstLogin != null" >
        #{isFirstLogin,jdbcType=INTEGER},
      </if>
      <if test="createdId != null" >
        #{createdId,jdbcType=CHAR},
      </if>
      <if test="createdDate != null" >
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedId != null" >
        #{modifiedId,jdbcType=CHAR},
      </if>
      <if test="modifiedDate != null" >
        #{modifiedDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cips.model.User" >
    update tb_user
    <set >
      <if test="userCode != null" >
        user_code = #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="creditId != null" >
        credit_id = #{creditId,jdbcType=VARCHAR},
      </if>
      <if test="isFirstLogin != null" >
        is_first_login = #{isFirstLogin,jdbcType=INTEGER},
      </if>
      <if test="createdId != null" >
        created_id = #{createdId,jdbcType=CHAR},
      </if>
      <if test="createdDate != null" >
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedId != null" >
        modified_id = #{modifiedId,jdbcType=CHAR},
      </if>
      <if test="modifiedDate != null" >
        modified_date = #{modifiedDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cips.model.User" >
    update tb_user
    set user_code = #{userCode,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      credit_id = #{creditId,jdbcType=VARCHAR},
      is_first_login = #{isFirstLogin,jdbcType=INTEGER},
      created_id = #{createdId,jdbcType=CHAR},
      created_date = #{createdDate,jdbcType=TIMESTAMP},
      modified_id = #{modifiedId,jdbcType=CHAR},
      modified_date = #{modifiedDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=CHAR}
  </update>
  <select id="loginUser" resultMap="BaseResultMap" parameterType="map" >
  	select 
    <include refid="Base_Column_List" />
    from tb_user
    where user_name = #{userName,jdbcType=VARCHAR} and password = #{password,jdbcType=VARCHAR}
  </select>
  <select id="toPageGetUserList" resultMap="BaseResultMap" parameterType="map">
  	select 
  	<include refid="Base_Column_List"></include>
    from tb_user
    where status = 0
    <if test="userInfo !=null ">
    	and 
    	<trim prefix="(" suffix=")">
    		user_name like '%${userInfo}%' or mobile like '%${userInfo}%' or credit_id like '%${userInfo}%' or email like '%${userInfo}%'
		</trim>
	</if>
  </select>
  <select id="toPageGetFrUserList"  resultType="com.cips.model.User" parameterType="map" >
  	select 
  		a.id,
  		a.user_name userName, 
  		a.credit_id creditId,
  		a.mobile mobile,
  		a.email email
    from tb_user a,tb_user_role b,tb_role c
    where a.id = b.user_id 
    	and b.role_id = c.id
    	and c.role_name like '%${roleName}%'
    	and a.status = 0
   		<if test="userInfo != null ">
    		and 
    		<trim prefix="(" suffix=")">
    			a.user_name like '%${userInfo}%' or a.mobile like '%${userInfo}%' or a.credit_id like '%${userInfo}%' or a.email like '%${userInfo}%'
			</trim>
		</if>
  </select>
  <select id="getUserByUserInfo" resultMap="BaseResultMap" parameterType="map">
  	select 
    <include refid="Base_Column_List" />
    from tb_user
    where 1=1
    <if test="userName != null">
    and	user_name = #{userName,jdbcType=VARCHAR}
    </if>
    <if test="mobile != null">
    and	mobile = #{mobile,jdbcType=VARCHAR}
    </if>
    <if test="email != null">
    and	email = #{email,jdbcType=VARCHAR}
    </if>
    <if test="creditId != null">
    and	credit_id = #{creditId,jdbcType=VARCHAR}
    </if>
  </select>
</mapper>